@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Aplicamos la fuente a toda la web */
body {
  font-family: 'Space Grotesk', sans-serif;
  background-color: #050505; /* Casi negro */
  background-image: 
    radial-gradient(circle at 50% 0%, rgba(16, 185, 129, 0.15), transparent 40%),
    radial-gradient(circle at 80% 50%, rgba(59, 130, 246, 0.1), transparent 40%);
  color: #ffffff;
}

/* Efecto para scroll suave */
html {
  scroll-behavior: smooth;
}